<head xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <title>Login Account</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">

</head>

<body>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/login.js"></script>
    <h2>Login Account</h2>
    <br />


    <div id="login_form">
        <form name="contact_login" action="">
            <fieldset>
                <div class="input-group mb-3">
                  <label for="username" class="input-group-text">Username:</label>
                  <input  name="username" id="username" type="text"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="Username" value="adi">
                </div>

                <div class="input-group mb-3">
                  <label for="Password" class="input-group-text" >Password:</label>
                  <input name="password" id="Password" type="password"  class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password" value="1234">
                </div>

                <input class="btn btn-info ripple " type="submit" value="Submit"  id="submit-login">
            </fieldset>
        </form>
    </div>
</body>
