$def with (page)
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>CodeWizard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <link rel="stylesheet" href="static/css/bootstrap.css">
    </head>
    <body>
        <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
        <script src="static/js/bootstrap.js"></script>
        <script src="static/js/jquery-3.6.0.min.js"></script>
        <script src="static/js/logout.js"></script>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="check-btn">
                <i class="fas fa-bars"></i>
            </label>
            <label class="logo">CodeWizard</label>
            $if session['user'] == None:
                <ul>
                    <li><a href="/">Home Feed</a></li>
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="/login" class="active">Login</a></li>
                    <li><a href="/register"  class="active">Register </a></li>
                </ul>
           $else:
                 <ul>
                    <li><a href="/">Home Feed</a></li>
                    <li><a href="#">Discover</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a type="submit" id="logout" class="active">Logout</a></li>
                </ul>
            $:page
        </nav>

    </body>
</html>
