<head xmlns="http://www.w3.org/1999/html">
        <meta charset="UTF-8">
        <title>Register Account</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/bootstrap.css">
 </head>

<body>
    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/register.js"></script>
    <h2>Register Account</h2>
        <br />


    <div id="register_form">
     <form name="contact" action="">
         <fieldset>
            <div class="input-group mb-3">
              <label for="username" class="input-group-text">Username:</label>
              <input  name="username" id="username" type="text"  class="form-control" placeholder="Username" aria-label="Username" aria-describedby="Username">
            </div>

            <div class="input-group mb-3">
              <label for="name" class="input-group-text">Full name:</label>
              <input name="name" id="name" type="name"  class="form-control" placeholder="Full name" aria-label="Full name" aria-describedby="Full name">
             </div>


            <div class="input-group mb-3">
              <label for="Email Adders" class="input-group-text" >Email Adders:</label>
              <input name="email" id="Email Adders" type="email"  class="form-control" placeholder="Email Adders" aria-label="Email Adders" aria-describedby="Email Adders">
             </div>

            <div class="input-group mb-3">
              <label for="Password" class="input-group-text" >Password:</label>
              <input name="password" id="Password" type="password"  class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password">
             </div>

            <input class="btn btn-info ripple " type="submit" value="Submit"  id="submit-registering">
        </fieldset>
     </form>
    </div>


</body>
